@model IEnumerable<Category>

<div class="text-center">
    <h1 class="display-2">Categories</h1>
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var category in Model)
    {
        <div class="col">
            <div class="card bg-dark p-4">
                <div class="card-body text-center">
                    <a href="@Url.Action("Category", "Category", new { slug = category.Slug })">
                        <h2 class="card-title text-white">@category.Name</h2>
                    </a>
                </div>
            </div>
        </div>
    }
</div>