@using Microsoft.AspNetCore.Identity
@using Codebella.Entity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<li class="nav-item">
    <a class="nav-link px-lg-3 py-3 py-lg-4">
        <span class="fw-bold" style="color:white">|</span>
    </a>
</li>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link dropdown-toggle m-0 px-lg-2 py-2 py-lg-3 small" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false" title="Manage" style="color:white"><i class="fas fa-user-alt"></i></a>
            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                <li><a class="dropdown-item" href="/Dashboard">Dashboard</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link bg-transparent border-0  px-lg-3 py-3 py-lg-4 fw-bold" style="color:white;font-size: revert"><i class="fas fa-sign-out"></i></button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
