@model CreateArticleDto

@{
    ViewData["Title"] = "Create Article";
}
<a href="@Url.Action("Index", "Dashboard")" class="btn btn-dark btn-sm mb-2">Back</a>
<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<form method="post">
    <div class="row">
        <div class="col-6 mb-3">
            <label for="articleTitle" class="form-label">Title</label>
            <input type="text" name="Title" class="form-control" id="articleTitle" aria-describedby="articleTitle">
        </div>
        <div class="col-6 mb-3">
            <label for="CategoryId" class="form-label">Category</label>
            <select id="CategoryId" name="CategoryId" class="form-control">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="col-12 mb-3">
            <label for="categoryId" class="form-label">Tags</label>
            <select class="form-select" id="separatorTags" name="tags[]" multiple data-allow-new="true" data-allow-clear="true" data-separator=" |,|  ">
                <option selected disabled hidden value="">Choose a tag...</option>
            </select>
        </div>
        <div class="col-12 mb-3">
            <textarea name="Content" id="editor">Your Content</textarea>
        </div>
    </div>
    <button type="submit" class="d-inline btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/35.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                codeBlock: {
                    languages: [
                        { language: 'html', label: 'HTML' },
                        { language: 'css', label: 'CSS' },
                        { language: 'js', label: 'JavaScript' },
                        { language: 'csharp', label: 'C#' },
                    ]
                }
            })
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <script type="module">
        import Tags from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-tags@master/tags.js";
        Tags.init("#separatorTags");

    </script>
}
